<!DOCTYPE html>
<html>
  <head>
    <title><%= 'Skills' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dev Skills</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <%= s.skill %>
            - 
          <%= s.have ? 'have' : 'have not' %>
        </li>
      <% }); %>
    </ul>
    <a href="/">Home page</a>
  </body>
</html>